{% extends 'admin/change_form.html' %}


{% block submit_buttons_bottom %}
<div class="submit-row">
<button class="button secundario" type="submit" id="iniciar" name="iniciar">
<strong style="font-size: 20px;margin: 5px"> <i class="fa fa-hourglass-start" aria-hidden="true"></i> INICIAR </strong>
</button>

    <button class="button secundario" type="submit" disabled="disabled" id="finalizar" name="finalizar">
<strong style="font-size: 20px;margin: 5px"> <i class="fa fa-hourglass-end" aria-hidden="true"></i> FINALIZAR </strong>
</button>

    <button class="button delete" type="submit"  id="salir" name="salir">
<strong style="font-size: 20px;margin: 5px"> <i class="fa fa-sign-out" aria-hidden="true"></i> SALIR </strong>
</button>


</div>



{% endblock %}
